#footer {
    padding: 64px 0px;
    display: flex;
    font-size: 14px;
    background-color: #f0f3f2;
    margin: 0 -100px;
}

.footer__container {
    width: 100%;
    margin: 0 100px;
}

.footer__link {
    display: flex;
}

.footer__left {
    flex: 0 0 33.3333%;
}

.footer__left--content {
    display: flex;
}

.footer__left--contentLeft {
    flex: 0 0 50%;
}

.footer__left--contentRight {
    flex: 0 0 50%;
}

.footer__right {
    display: flex;
    width: 100%;
}

.footerTitle {
    font-weight: bold;
    margin-bottom: 16px;
}

.footerTextContent {
    margin-bottom: 8px;
}

.footerTextContent:hover {
    color: #0aad0a;
    cursor: pointer;
}

.footer__right--container {
    flex: 0 0 25%;
}

.footer__checkout {
    width: 100%;
    padding: 16px 0;
    border-top: 1px solid #dfe2e1;
    border-bottom: 1px solid #dfe2e1;
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.footer__checkout--card,
.footer__checkout--application {
    display: flex;
    align-items: center;
}

.iconCheckoutFooter {
    margin-right: 8px;
}

.footer__contact {
    display: flex;
    justify-content: space-between;
    color: #889397;
    padding: 16px 0;
}

.footer__contact-social {
    display: flex;
    align-items: center;
}

.iconSocial {
    border-radius: 8px;
    border: 1px solid #889397;
    height: 28px;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}