*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Inter', sans-serif;

}
/* .main{
    width: 94%;
    margin: 0 auto;
    margin-top: 3%;
} */
.head{
    display: flex;
    background-color: rbga(0,0,0,0.5);
    /* justify-content: space-between; */
}
.left-a{
width: 60%;
}
.left-2{
    margin:1% 0 ;
 
}
.left-2 .img-zoom img{
    width: 560px;
    height: auto;
    border-radius: 8px;
}
img{
    width: 100%;
}
.left-3,
.right-6{
    display: flex;
}
.left-3 img{
    width: 130px;
    height: auto;
    border-radius: 8px;
}
.left-3 .img-pr{
    margin-right: 2%;
  
}
.star i{
    color: #ffc107;
    font-size: 12.25px;

}
.right-1,
.right-4 {
    margin-bottom: 16px;
}
.right-1 p,
.ctt span{
    color:  #0aad0a;
}
.right-2{
    padding-bottom: 4px;
}
.right-3{
    display: flex;
}
.right-3 span{
    margin-right: 2%;
    font-size: 21px;
    font-weight: 500;
}
.right-3 p{
    color: rgb(219, 48, 48);
    margin-left: 8px;
    margin-top:1%;
}
.right-4 button{
    padding: 8.8px;
    color: rgb(136,147,151);
    border-radius: 8px;
    border: rgb(136,147,151) solid 0.667px;
}
.right-6{
    margin-top: 12px;
    
}
.right-5 button{
    padding: 7px;
}
.right-6 button{
    margin-top: 8px;
    padding: 0 4px;
    padding: 8.8px 16px;
    
    border-radius: 4px;
}
.right-6 .con button{
    border: rgb(136,147,151) solid 0.667px;
    
}
.left-1 p,
.right-7 {
    color: rgb(92,108,117);
}
.right-7 td{
    padding: 12px 24px;
    font-size: 14px;
}
/* .img-zoom{
    transition: all 0.5s ease;
    overflow: hidden;

} */
/* .right-5 #tang:hover,
.right-5 #giam:hover{
    background-color: #9ea09e;
    border: rgb(136,147,151) solid 0.667px;
} */
.img-zoom:hover img
{
    transform: scale(1.1);
    display: block;
}